<div>

    <div class="row">

        <div class="col-md-3 border">

            <div class="row">

                <div *ngFor="let pedidosa of PedidosClientesAtendido; index as i" class="col-md-12">
                    <br>
                    <label> Cliente: {{pedidosa[1].nombre}} </label>
                    <br>
                    <label> Fecha : {{pedidosa[0].fecha}}</label>
                    <br>
                    <label> Estado: {{pedidosa[0].estado}}</label>
                    <br>
                    <label> Cliente: {{pedidosa[0].fkCliente}}</label>
                    <br>
                    <label> Factura: {{pedidosa[0].fkFactura}}</label>
                    <br>
                    <a [routerLink]="['/detallepedido',pedidosa[0].idPedido]">detalles</a>
                    <br>
                    <br>
                </div>

            </div>


        </div>

        <div class="col-md-9  border">
            <div class="row">
                <div *ngFor="let pedidosc of PedidosClientesCola;let cliente=index" class="col-md-4">
                    <br>
                    <label> Id Pedido: {{pedidosc[0].idPedido}}</label>
                    <br>
                    <label> Cliente: {{pedidosc[1].nombre}} </label>
                    <br>
                    <label> Fecha : {{pedidosc[0].fecha}}</label>
                    <br>
                    <label> Estado: {{pedidosc[0].estado}}</label>
                    <br>
                    <label> Cliente: {{pedidosc[0].fkCliente}}</label>
                    <br>
                    <label> Factura: {{pedidosc[0].fkFactura}}</label>
                    <br>
                    <a [routerLink]="['/detallepedido',pedidosc[0].idPedido]">detalles</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>