
    <div  style="background-color: aquamarine" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" >
        <h5 class="my-0 mr-md-auto font-weight-normal">Bienvenidos</h5>
        <nav class="my-2 my-md-0 mr-md-3 navbar navbar-light">
            <a class="p-2 text-dark" [routerLink]="['/home']">[ Inicio ]</a>
            <a class="p-2 text-dark" [routerLink]="['/pedidos']">[ Pedidos ]</a>
            <a class="p-2 text-dark" [routerLink]="['/facturas']">[ Facturas ]</a>
            <a class="p-2 text-dark" [routerLink]="['/productos']">[ Productos ]</a>
            <a class="p-2 text-dark" [routerLink]="['/mostrarusuarios']">[ Usuarios ]</a>
            <a class="p-2 text-dark" [routerLink]="['/insertarproductos']">[ Insertar Productos ]</a>
            <a class="p-2 text-dark" [routerLink]="['/crearusuarios']">[ Crear Usuarios ]</a>
        </nav>
        
        <a  class="btn btn-outline-primary" href="http://localhost:4200/"  style="background-color: aquamarine">Sign up</a>
    </div>
