<h5 class="my-0 mr-md-auto font-weight-normal">Bienvenidos</h5>
<br>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a8e9e6;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="ative" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="ative" [routerLink]="['/clientes']">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="ative" [routerLink]="['/pedidos']">Pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="ative" [routerLink]="['/facturas']">Facturas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="ative" [routerLink]="['/productos']">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="ative" [routerLink]="['/mostrarusuarios']">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="ative" [routerLink]="['/insertarproductos']">Insertar Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="ative" [routerLink]="['/crearusuarios']">Crear Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="ative" [routerLink]="['/createclientes']">Crear Clientes</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a  href="" (click)="CerrarSesion()" class="btn btn-outline-primary my-2 my-sm-0" style="background-color: aquamarine" type="submit">Sign Up</a>
        </form>
    </div>
</nav>